/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family:'Cairo';

}
body h1,h2,h3, p, a, li, span, div, button {
  font-family:'Cairo';
}

.cairo-thin {
  font-family: "Cairo",;
  font-weight: 100;
  font-style: normal;
}

.cairo-extralight {
  font-family: "Cairo";
  font-weight: 200;
  font-style: normal;
}

.cairo-light {
  font-family: "Cairo";
  font-weight: 300;
  font-style: normal;
}

.cairo-regular {
  font-family: "Cairo";
  font-weight: 400;
  font-style: normal;
}

.cairo-medium {
  font-family: "Cairo";
  font-weight: 500;
  font-style: normal;
}

.cairo-semibold {
  font-family: "Cairo";
  font-weight: 600;
  font-style: normal;
}

.cairo-thin-italic {
  font-family: "Cairo";
  font-weight: 100;
  font-style: italic;
}

.cairo-extralight-italic {
  font-family: "Cairo";
  font-weight: 200;
  font-style: italic;
}

.cairo-light-italic {
  font-family: "Cairo";
  font-weight: 300;
  font-style: italic;
}

.cairo-regular-italic {
  font-family: "Cairo";
  font-weight: 400;
  font-style: italic;
}

.cairo-medium-italic {
  font-family: "Cairo";
  font-weight: 500;
  font-style: italic;
}
